/* --- RESET --- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section{
	display: block;
}

table{
	border-spacing: 0;
	border-collapse: collapse;
}

h1,h2,h3,h4,h5,h6{
	font-weight: normal;
}

a{
	text-decoration: none;
}

nav li{
	list-style-type: none;
	display: inline-block;
}

/* --- DEMO STYLES --- */

body{
	font-family: 'Helvetica Neue', arial, sans-serif;
	color: #333;
	
	-webkit-font-smoothing: antialiased;
}

header{
	padding: 15px 0 20px;
	border-bottom: 1px solid #ddd;
}

h1,h2,h3{
		font-family: 'ff-enzo-web', sans-serif;
		font-weight: 700;
}

header .wrapper{
	padding: 0 30px;
}

header h1{
	font-size: 40px;
	font-weight: 700;
	margin-bottom: 8px;
}

header h2{
	font-weight: 400;
	font-size: 20px;
}


section{
	position: relative;
	font-size: 0.1px;
	text-align: justify;
}

section:after{
	content: '';
	display: inline-block;
	width: 100%;
}

section .wrapper{
	padding: 30px;
}

section h3{
	font-size: 20px;
	margin-bottom: 1em;
}

.col{
	display: inline-block;
	vertical-align: top;
	text-align: left;
}

.col_1{
	width: 55%;
}

.col_2{
	width: 45%;
	max-width: 500px;
	height: 100%;
	background: #333;
	color: #fff;
}


p,
.text li{
	font-size: 16px;
	font-weight:  300;
}

.btn{
	display: inline-block;
	background: #d24a67;
	font-weight: 700;
	font-size: 16px;
	color: #fff;
	padding: 10px 12px;
	margin-bottom: 30px;
	
	border-radius: 5px;
}

p{
	line-height: 1.4;
	margin-bottom: 25px;
}

p code{
	font-size: 15px;
	background: rgba(255,255,255,.7);
	color: #333;
	padding: 2px;
}

p a{
	color: #d24a67;
}

pre{
	font-size: 15px;
	color: #c4ae78;
	margin: 15px 0 30px;
	
	-webkit-font-smoothing: auto;
}

ul.text{
	margin: 0 0 30px 18px;
}

.text li{
	margin-bottom: 8px;
}

select,
.dropdown{
	margin-bottom: 30px;
	display: inline-block;
}

.dropdown{
	margin-right: 8px;
}

pre.prettyprint{background:#141414;color:#f8f8f8;}
pre.prettyprint span.str,pre.prettyprint span.atv{color:#8f9d6a;}
pre.prettyprint span.kwd,pre.prettyprint span.pun{color:#cda869;}
pre.prettyprint span.com{color:#5f5a60;font-style:italic;}
pre.prettyprint span.typ{color:#9b703f;}
pre.prettyprint span.lit{color:#cf6a4c;}
pre.prettyprint span.pln{color:#7587a6;}
pre.prettyprint span.tag{color:#ac885b;}
pre.prettyprint span.atn{color:#e0c589;}
pre.prettyprint span.dec{color:#494949;}
pre.prettyprint{
	border: 0 none !important;
	background: transparent !important;
}